<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
<h2 class="js-name">{{name}}</h2>
<p class="js-age">Age: {{age}}</p>
<p class="js-city">City: {{city}}</p>